pipeline/PL_MASTER.json
{
	"name": "PL_MASTER",
	"properties": {
		"activities": [
			{
				"name": "GetConnectionDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.ImportExecutionDetails WHERE ScheduleName='@{pipeline().parameters.ScheduleName}' AND DataCenterName='@{pipeline().parameters.DataCenterName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_generic_dataset",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "dbo",
							"tablename": "test",
							"libconnection": "libconnection"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetConnectionDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetConnectionDetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().SqlStatement",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_generic_dataset",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": "dbo",
										"tablename": "test",
										"libconnection": {
											"value": "@item().ConnectionSecret",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_generic_csv",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"FolderName": "SalesLT"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ScheduleName": {
				"type": "string",
				"defaultValue": "My Schedule1"
			},
			"DataCenterName": {
				"type": "string",
				"defaultValue": "DataCenter Lib"
			}
		},
		"annotations": []
	}
}